<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Index</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>Welcome to Paper, Rock, Scissors</h2>
    <form action="/login" method="get">
      Please enter your name:<input type="text" id="enter_name_input" name="player_name">
      <button type="submit" id = "enter_name_button">Submit Name</button>
    </form>
  </div>
<<<<<<< HEAD
  <% include global/footer %>
=======
    <% include global/footer %>
>>>>>>> be56a110e5c87f5647dc228f6b8c3ef660993ec0
  <script src="scripts/scripts.js"></script>
 </body>
</html>
