<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>
      <h2>Game Results</h2>
      <h4><%=user.name%>, you ______ ! </h4>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
