<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
  <link rel="stylesheet" href="public/styles/style.css">
 </head>

<body>
  <% include global/header %>
  <div id="results">
      <h2>Game Results</h2>
      <h4><%=user.name%>, you ARE THE WINNER against <%=user.villain%> with <%=user.weapon%>! </h4>
    </div>
  <% include global/footer %>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
